@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-blue: #01BEFE;
  --brand-yellow: #FFDD00;
  --brand-orange: #FF7D00;
  --brand-pink: #FF006D;
  --brand-purple: #8F00FF;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}